$siteWidth: 1200px;
$heightHeader: 75px;
$colorSite: #ff839b;
$colorHeaderFooter: #000000;
$colorTextBlack: #000000;
$colorFon: #FFFFFF;
$colorWhite: #e8e8e8;
$colorFont: #4D5053;
$colorText: #6F6E6E;
$colorPromo: #fff3f5;